<section class="slider">
<div class="container">
  <div class="row">
    <div class="slideshow">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="3" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <div class="carousel-caption">
              <h4></h4>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h4></h4>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h4></h4>
            </div>
          </div>
          <div class="item active">
            <div class="carousel-caption">
              <h4></h4>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h4></h4>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h4></h4>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic"
          role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only"><%= t ".previous" %> </span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic"
          role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only"><%= t ".previous" %> </span>
        </a>
      </div>
    </div>
  </div>
</div>
</section>
  <div class="brand">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="box-title-new"><%= t ".hot" %> </h3>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="box-title-new"><%= t ".foods" %> </h3>
        </div>
      </div>
    </div>
  </div>
<section/>
<section>
  <div class="products">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="pages">
    <a href="#"><button type="button" class="btn btn-danger"><%= t ".previous" %> </button></a>
    <a href="#"><button type="button" class="btn btn-default soTrang">1</button></a>
    <a href="#"><button type="button" class="btn btn-default soTrang">2</button></a>
    <a href="#"><button type="button" class="btn btn-danger"><%= t ".previous" %> </button></a>
  </div>
</section>
<section>
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="box-title-new"><%= t ".previous" %> </h3>
        </div>
      </div>
    </div>
  </div>
<section/>
<section>
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 parent">
      </div>
    </div>
  </div>
  <div class="pages">
    <a href="#"><button type="button" class="btn btn-danger"><%= t ".previous" %> </button></a>
    <a href="#"><button type="button" class="btn btn-default soTrang">
      <%= t ".previous" %> </button>
    </a>
    <a href="">
      <button type="button" class="btn btn-default soTrang"><%= t ".previous" %> </button>
    </a>
    <a href="#">
      <button type="button" class="btn btn-danger"><%= t ".previous" %> </button>
    </a>
  </div>
</section>
<section>
  <div class="news">
    <div class="container">
      <div class="row">
        <h3 class="text-left"><%= t ".previous" %> </h3>
        <div class="col-sm-3">
          <p class="time-info">
            <i class="glyphicon glyphicon-time"></i>16/08/2017
          </p>
          <h4><%= t ".previous" %> </h4>
          <p class="news-info"><%= t ".previous" %> </p>
          <button type="button" class="btn btn-default btn-sm btn bt-color">
            <%= t ".previous" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
