<!DOCTYPE html>
<html>
  <head>
    <title><%= t"layouts.application.title" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body class="displayLogin">
    <div class="contentLogin">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-push-3 formlogin">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
